---
layout: page
title: Corduroy Hat
subtitle: A multidisciplinary creative agency based in Phoenix, Arizona
use-site-title: true
---


<div class="container">
    <div class="row">
      <div class="col-sm"> 
        <article class="post-preview">
        
          <div class="post-image">
            <a href="/sample/">
              <img src="img/hello_world.jpeg">
            </a>
          </div>
          
        <a href="/sample/">
        <h2 class="post-title">Custom Design</h2>
        </a>
    
    
       </article>
       </div>
       <div class="col-sm"> 
        <article class="post-preview">
        
          <div class="post-image">
            <a href="/test/">
              <img src="img/hello_world.jpeg">
            </a>
          </div>
          
        <a href="/sample/">
        <h2 class="post-title">Web Design</h2>
        </a>
    
    
       </article>
       </div>
       
      <div class="col-sm">col-sm</div>
    </div>
  
</div>
<div class="container">
  <div class="row">
    <div class="col-8">col-8</div>
    <div class="col-4">col-4</div>
  </div>
</div>



<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.image | relative_url }}">
        </a>
      </div>
      {% endif %}
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <div class="post-entry-container">
      
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

   </article>
  {% endfor %}
</div>
